
table.promptbox {
    border:1 solid #ccccff;
    background-color:#FFFFE6;
    color:black;
    padding-left:2;
    padding-right:2;
    padding-bottom:2;
    font-family:arial;
    font-size:12;
} 

input.promptbox {
    border:1 solid #0000FF;
    background-color:white;
    width:100%;
    font-family:arial;
    font-size:12;
    color:black;
}

#outputprompt {
    position: absolute;
    background-color: #FFFFCC;
    width: 200;
    height: 50;
    left: 0;
    top: 0;
    border: 1 solid #FF8000;
    color: #0000F2;
}
