{*
 * help.tpl
 *}
{include file='header.tpl'}
<br />
[ <a href='help.pdf'>PDF</a> (345 KB) ]
<div class='help'>
<h2>QMinim Help</h2>
QMinim is an online free minimisation service for minimising subjects to different arms of a clinical trial.<br />
After your registration for a QMinim account was approved, you can log into your account. After login you will see a simple initial setup for your minimization trial which can be modified according to your needs.<br />
Please read this help thoroughly before using QMinim for your trial.<br />
<br />
<h3>General help</h3>
Clicking on the <img src='templates/images/info.gif'> icon will show some help and information related to the current page and section in a miniature window as in the figure below.<br /><br />
<div align="center"><img src='templates/images/info_page.gif'></div><br />
Click the close icon (<img src='templates/images/close.gif'>) at the top-right corner of the mini help window to close it.<br />
Clicking a plus icon (<img src='templates/images/add.gif'>) will add to the relevant items (treatments, factors, subjects, etc).<br />
Clicking an edit icon (<img src='templates/images/edit.gif'>) will use to edit an item (treatment, factor, subject, etc).<br />
Clicking a delete icon (<img src='templates/images/delete.gif'>) will delete an item (treatment, factor, subject, etc). A warning message will be displayed prior to final delete.<br />
Links with important and potential destructive functions (such as deleting an item, or reseting the trial, etc), usually will be immediately preceded by a warning message showing the potential consequences of the action. So you have an opportunity to cancel the action.<br />
<br />
<span class='clicker action helplink'>Treatments</span><br />
Different arms of trial, names of trial groups. Each trial must have at least two groups. Due to resource shortage usually there is a limit to the maximum treatments you can define in QMinim (currently {$max_allowed_treatments} treatments). It is highly recommended to choose a meaningful name for each treatment. You may for example choose the name of interventions as the treatment names, or just you may choose simple general names (e.g. case, control, placebo, etc). Initially there are two treatments, named Case and Control. For each treatment you can assign an allocation ratio. It is an integer value showing the relative contribution of subjects from each treatment to the final sample size. The default is 1, meaning all treatments are equal in size. If for example you set a ratio of 1 for the first treatment and 2 for the next in a two treatments trial with a sample size of 150, final sample size will consists of 50 subjects from the first treatment and 100 subjects from the second. To see the treatments in your trial click on the TREATMENTS link. The page will show something like this:<br /><br />
<div align="center"><img src="templates/images/treatments_page.gif" /></div><br />
Names of treatments and their ratio may be different in your trial.<br />
Click on the add icon (<img src="templates/images/add.gif" />) in top-left corner of the treatments table to add another treatment to the trial (see below for details). If some subjects have been enrolled in the treatment or you have some preloads, you can not add further treatments, so the add icon will be disabled (<img src='templates/images/addd.gif'>). for each treatments there are two icons in the left cells of the treatments table. The first one is for editing each treatment (<img src='templates/images/edit.gif'>), and the second one for deleting the treatment (<img src='templates/images/delete.gif'>). If an icon is grayed in color, it means that function is disabled. For example you can not have less than two treatments, therefore if you have exactly two treatments, the delete icons are disabled (<img src='templates/images/deleted.gif'>). To edit a treatment, click the edit icon of that treatment (see below for details).<br />
<br />
<h3>Adding a treatment</h3>
Click the plus icon (<img src='templates/images/add.gif'>) to add another treatment to the trial. Following page will be displayed:<br /><br />
<div align="center"><img src='templates/images/add_treatment_page.gif'></div><br />
The page is self-descriptive. Enter treatment name and its ratio in the corresponding text box. Names of treatments must be unique. Then click the add button to add the treatment, or click return to cancel adding and return to the previous page. If you have more than two treatments the delete icons will be enabled.<br />
<br />
<h3>Editing a treatment</h3>
Click the edit icon (<img src='templates/images/edit.gif'>) at the left of a treatment to edit it. This will show the following page:<br /><br />
<div align="center"><img src='templates/images/edit_treatment_page.gif'></div><br />
Do necessary edit in the treatment name and allocation ratio, then save the changes by clicking the Save button. Click Return button to cancel the edit.<br />
<br />
<span class='clicker action helplink'>Factors</span><br />
Your minimization design must have at least one factor to minimize subjects based on it. Due to resource shortage usually there is a limit to the maximum factors you can define in QMinim (currently {$max_allowed_factors} factors). It is highly recommended to choose a meaningful name for each factor. You may for example choose the a patient characteristic (gender, weight, height, age, etc) or the location characteristics (center, site, enroller, physician, etc. see multi-center trials below) as the factor name. Initially there are two factors, first one is Gender with two levels (Male and Female) and a weight of 1. Second one is Age with three levels: Y, M, and O, which stand for young, middle, and old. This factor has a weight of 1 too. Weight of each factor denotes the relative importance of each factor in minimization design. The more the weight of a factor, the higher its contribution to the process of minimization. Select equal weights (like all one) to set equal importance for all factors. That is, the allocation of a new subject will be considered mainly with balancing the trial result toward the factors with higher weights. Factor weight may be a decimal fraction like 1.23 or a whole integer number. Usually the default value of 1 is what you need.<br />
Click on the FACTORS link to see the factors page.<br /><br />
<div align="center"><img src='templates/images/factors_page.gif'></div><br />
Your factors may be different from mine. Each factor has a name, some levels, and a weight. As an example a factor may be the gender of the subjects which has two levels (male and female).<br />
Click on the add icon (<img src="templates/images/addd.gif" />) in top-left corner of the factors table to add another factor to the trial (see below for details). If some subjects have been enrolled in the treatment, you can not add further factors, so the add icon will be disabled (<img src='templates/images/addd.gif'>). for each factors there are two icons in the left cells of the factors table. The first one is for editing each factor (<img src='templates/images/edit.gif'>), and the second one for deleting the factor (<img src='templates/images/delete.gif'>). If an icon is grayed in color, it means that function is disabled. For example you can not have less than one factor, therefore if you have exactly one factor, the delete icon is disabled (<img src='templates/images/deleted.gif'>). To edit a factor, click the edit icon of that factor (see below for details).<br />
<br />
<h3>Adding a factor</h3>
Click the plus icon (<img src='templates/images/add.gif'>) to add another factor to the trial. Following page will be displayed:<br /><br />
<div align="center"><img src='templates/images/add_factor_page.gif'></div><br />
Enter factor name and its weight in the corresponding text box. Names of factors must be unique. To add a level to the factor, enter a name for that level in the text box in front of "Levels: (Max = {$max_allowed_levels})", then click the Add button just below it to add the level to the levels of that factor (see figure). The name of that level will be added to the list of levels of the factor. Click the name of a level in the list to change it. This will show the name in the text box for edit. After changing the name of the level, click Change button to apply the change to the name of the level. Select a level, then click the Delete button to delete that level from the list of levels for that factor. You can enter categorical numeric data. Consider for example that the levels of age in your trial are: 20 - 30, 31 - 40, 41- 50, ... If this is the case in your trial there is a simpler way to enter these levels. Just enter the minimum, maximum and the interval value for the categorization in the text box, then click the Categorize button to add all levels of the factor in categories. As an example suppose the age of patients in your trial will be from 20 to 80 years old and you want to have categories with interval of 10 years. Enter 20 80 10 in the text box and then click Categorize. The age will be categorized into some levels and will be listed as the levels for that factor.<br />
After finishing with name, weight and levels of the factor click the Add factor button to add the factor, or click Return to cancel adding and return to the previous page. If you have more than one factor the delete icons will be enabled.<br />
<br />
<h3>Editing a factor</h3>
Click the edit icon (<img src='templates/images/edit.gif'>) at the left of a factor to edit it. This will show the following page:<br /><br />
<div align="center"><img src='templates/images/edit_factor_page.gif'></div><br />
Do necessary edit in the factor name, weight and its levels (see adding a factor for detail), then save the changes by clicking the Save button. Click Return button to cancel the edit.<br />
<br />
<span class='clicker action helplink'>Settings</span><br />
In the settings page you will see different settings of the trial minimization.<br />
Probability Method: Methods to assign compute allocation probabilities for each treatment. There are two choices: Biased coin which considers the allocation ratio, and Naive which do not.<br /><br />
Base Probability = The probability with which the new subject will be allocated to the preferred treatment. It is a value more than 0 and less than one. The more the probability, the more will be the balance among treatments and the more will be the predictability of assignment. A value of 1 means pure minimization without randomization. Values lower than one allows for some randomization. The default value is 0.7, which is suitable for two treatments trials.<br />
Distance Method = The method used to calculate the distance among treatments. Four choices. Marginal Balance based on the adjusted counts of previously enrolled subject for each levels of each factors and considers the value of allocation ratio. This is the default method. Range: based on the range of level counts for each factors, SD: SD of of level counts, Variance: variance of level counts.<br />
Sample Size = The final sample size of the trial. Due to shortage of resources, sample size is limited to {$max_allowed_subjects} subjects. There is a work around for trials with higher sample size (see trials with large sample size). The default value is thirty subject.<br />
Identifier Type = Each subject will be characterized with a unique identifier. This may be a number, a string made of alphabetic characters, or a mixture of two. The default is numeric.<br />
Identifier Order = This is the method by which each subject will be given the next unique identifier. Two choices: Sequential means successive numeric or alpha characters will be given to each subject. Random: means a random numeric or alpha string will given to the successive subjects.<br /><br />
Click settings link to see the settings of your minimization design. The page looks like the following figure:<br /><br />
<div align="center"><img src='templates/images/settings_page.gif'></div><br />
Settings' names and values are displayed in a table. An icon resembling the traffic light shows the stage of the trial. Green light means the setup stage, orange means some preloads have been entered (see preload below). Red means some subjects have been allocated.<br />
<br />
<h3>Editing settings</h3>
To edit settings click the edit icon <img src='templates/images/edit.gif'> in settings page. The setting edit page will be displayed as follow:<br /><br />
<div align="center"><img src='templates/images/edit_settings_page.gif'></div><br />
Different settings of a minimization design can be selected in this page. See details of settings above for further information of each setting.<br />
After choosing different settings click save to save the settings.<br />
<br />
<span class='clicker action helplink'>Preload</span><br />
You may have a special situation in which some subjects have already been allocated to the trial (using other methods, software or services), and then you decide to use QMinim for allocation of remaining subject. First you have to enter the counts of subject already allocated for each treatment, factor and level. Click the PRELOAD link to show the preload page as follow:<br /><br />
<div align="center"><img src='templates/images/preload_page.gif'></div><br />
This table shows the count of subjects enrolled by external tools. For each treatment, factor and level you will see the corresponding count with subtotals. By default all entries in this table are zero. You can change the view for display of counts. There are two views: first view: Factors and levels at top and treatments in the first column. Second view the opposite way. Click <img src='templates/images/transposedr.gif'> icon to change the preload display. Preload function is useful for trials with large sample sizes too (see trials with large sample size below).<br />
<br />
<h3>Editing preload</h3>
To edit the preload table, click the edit icon (<img src='templates/images/edit.gif'>) in preload page. Based on the current view the preload edit page will be displayed as follow:<br /><br />
<div align="center"><img src='templates/images/preload_edit_page.gif'></div><br />
Enter values for each count. Please take care of individual counts. After entering each count, subtotal values will be updated in the corresponding rows and columns. If there is any inconsistencies within counts, some subtotal values will be displayed in red color. After entering all counts make sure the values are consistent and no subtotal are displayed in red. If there is no inconsistencies in counts The save button will be enabled. Click the save button to save the preload. If there is any consistencies, the edit preload page will reappear with some error message.<br />
<br />
<span class='clicker action helplink'>Subjects</span><br />
To see the list of subjects enrolled by QMinim, click SUBJECTS link. A page similar to the following figure will appear:<br /><br />
<div align="center"><img src='templates/images/subjects_page.gif'></div><br />
The list is empty initially. Click add icon (<img src='templates/images/add.gif'>) to add a new subject (see adding a subject). Click <img src='templates/images/menu.gif'> to open subjects filter dialogue (see below). When the filter is active the icon will be displayed in red (<img src='templates/images/menu_red.gif'>). To search for a specific subject, click on the <b>ID</b> link in the heading of second column, and enter the subject ID in the dialogue box to find it. For each listed subject, there are three icons (<img src='templates/images/edit.gif'> <img src='templates/images/delete.gif'> <img src='templates/images/prop.gif'>) for edit, delete and properties of each subject. For each subject a unique identifier, treatment name, and levels of different factors will be displayed. Due to shortage of resources, there is a limit to the total number of subjects which can be added  (see trials with large sample sizes below).<br />
<br />
<h3>Subjects filter</h3>
<img src='templates/images/subjects_filter.gif'><br />
In this dialogue names of treatments and factor levels are displayed with a check box beside each one. Check or uncheck categories to select or unselect them to appear in subjects display. This has no effect on the actual number of subjects. Only the display of subjects will be affected. After checking (or unchecking) categories click on the <span class='refresh'>Apply</span> to apply the filter or <span class='refresh'>Close</span> to close the dialogue.
<br />
<h3>Adding subjects</h3>
To add a subject click the add icon (<img src='templates/images/add.gif'>). The add subject page will be displayed as follow:<br /><br />
<div align="center"><img src='templates/images/add_subject_page.gif'></div><br />
In this page select the value for each factor from a drop down menu. Then click Add button to add the subject. And intermediary page similar to the following figure will be displayed asking for your confirmation.<br /><br />
<div align="center"><img src='templates/images/add_subject_confirm_page.gif'></div><br />
This page shows the details of this newly added subjects, and the enrolled treatment for this subject. Click Done to accept and Undo to reject the action.<br />
<br />
<h3>Editing a subject</h3>
In cases where some mistakes have happened in entering a subject, you may correct it by editing the subject. To edit a subject click the edit icon (<img src='templates/images/edit.gif'>) at the left side of the row for that subject. A message warns you of possible biases which may occur in the trial results. The edit subject page will be displayed as follow:<br /><br />
<div align="center"><img src='templates/images/edit_subject_page.gif'></div><br />
All factors' levels can be corrected. But the enrolled group can not be changed, as this is not what which has been entered bu the user. This page is similar to add subject page. After correcting the mistakes click the Save button to save the changes.<br />
<br />
<h3>Deleting a subject</h3>
In cases where a subject has been enrolled mistakenly, you may delete that subject by clicking the delete icon (<img src='templates/images/delete.gif'>) at the left side of the row for that subject. A message warns you of possible biases which may occur in the trial results. Click OK to delete the subject.<br />
<br />
<h3>Properties of a subject</h3>
Click properties icon (<img src='templates/images/prop.gif'>) to see the properties of a subject as follow:<br /><br />
<div align="center"><img src='templates/images/properties_page.gif'></div><br />
Among different properties, you see the name of the user who enrolled the subject.<br />
<br />
<span class='clicker action helplink'>Frequencies</span><br />
Click FREQUENCIES link to show the Frequencies page very similar to preload page.<br />
The design is identical to the preload table (see preload above), except that it shows sum of subjects enrolled by QMinim and external tools (preload). This table can not be edited, but you can view it in two different views (see preload). Click on different categories and numbers to display the subjects in that category.<br />
<br />
<span class='clicker action helplink'>Balance</span><br />
Click the BALANCE link to see the balance table of the minimization as showed in the figure below:<br /><br />
<div align="center"><img src='templates/images/balance_page.gif'></div><br />
This table shows the balance among treatments of trial as some numerical values. The less the value the more is the balance. balance will be shown for factor and for each level of a factor. Balance values will be displayed using four different method of distance measure (see distance methods in Settings page above). Click the collapse icon (<img src='templates/images/expand.gif'>) to hide the values for levels, and expand icon (<img src='templates/images/collapse.gif'>) to show the values for levels. Last two rows show the mean and maximum values observed for each method of distance measure calculation.<br />
<br />
<span class='clicker action helplink'>Backup</span><br />
Click the BACKUP link to download your trial as a zip file. The download trial page will be displayed as follow:<br /><br />
<div align="center"><img src='templates/images/backup_page.gif'></div><br />
This page shows a link for downloading the trial file is zip format. After downloading trial file click Return link to return to the previous page. SHA1 and MD5 checksums of this file are also displayed. You can check the integrity of the downloaded file against these value using appropriate check sum tools (like sha1sum and md5sum for Linux). In future you can upload this zip file to restore a trial (see restore)<br />
<br />
<span class='clicker action helplink'>Restore</span><br />
!! important !!<br />
Please be carefull in uploading your trial zip file. It is possible to corrupt your trial file if a wrong file is selected.<br />
To upload your previous trial, click RESTORE link to restore a previously downloaded trial. After a warning the restore trial link will be displayed as follow:<br /><br />
<div align="center"><img src='templates/images/restore_page.gif'></div><br />
You have to enter the full path of the trial zip file, or click the browse button to select it from your computer. Only upload trial zip files previously downloaed from this side. If the uploaded file is validated a suppary page will show you the properties of the uploaded trial and you can confirm or cancel final upload in that summary page which will restore your previous trial. Please note that the current trial will be replaced by the uploaded trial. It is recommended that you make a backup of the current trial first and then restore a previous trial.<br />
<br />
<span class='clicker action helplink'>New</span><br />
Click NEW link to start a new trial. Current trial will be lost and the design will be the same as the one when you first register with QMinim. It is recommended that you first make a backup of current trial, and then start a new one.<br />
<br />
<span class='clicker action helplink'>Support</span><br />
Click SUPPORT link to display the support page. Please feel free to make use of this support page for your possible questions, bug report, help request, etc.<br />
<br />
<span class='clicker action helplink'>&lt;Username&gt;</span><br />
Click the link corresponding to your username or email to see your profile data. There are two link under the table of your profile data for editing your profile and changing your password.<br />
<br />
<span class='clicker action helplink'>Logout</span><br />
Please don't forget to click to LOGOUT link when you want to leave the QMinim service.<br />
<br />
<h3>Initial Setup</h3>
Initial setup in QMinim consists of following:<br />
<ul>
<li>Two treatments: Case and Control</li>
<li>Two factors: Gender with two levels (Male, Female), Age with three levels (Y, M, and O, standing for young, middle age, and old)</li>
<li>Settings: Initial settings consist of following:</li>
<ul>
        <li>Probability Method = Biased Coin</li>
        <li>Base Probability = 0.7</li>
        <li>Distance Method = Marginal Balance</li>
        <li>Sample Size = 30</li>
        <li>Identifier Type = Numeric</li>
        <li>Identifier Order = Sequential</li>
</ul>
<li>An empty preload</li>
</ul>
<br /><br />
<h3>Notes for multi-center trial</h3>
QMinim is single user oriented. Therefore the only way to use the same trial minimization design for different sites is to share the account among sites. It is strongly recommended to select as a factor for minimization the site of trial and specifying different centers as the levels of this factor.<br />
<br />
<h3>Trials with large sample sizes</h3>
Due to shortage of resources, QMinim has a limit for the number of subjects which can be enrolled (currently the limit is {$max_allowed_subjects} subjects).
There is a workaround for this problem as below:<br />
Enroll subjects in your trial until reaching the limit of maximum number of subjects.<br />
Make a backup of your current trial.<br />
Click FREQUENCIES link to show the frequencies page<br />
Click the icon <img src='templates/images/save_as_preload.gif' height="16"> to save subjects as preload. Current subjects will be cleared and trial will be restarted with zero sample size<br />
Now you have a new trial with the same design with a preload from previous round. You can enroll another round of subjects until reaching the limit, and you may repeat this process for several times.
</div>
{include file='footer.tpl'}
